@import "tailwindcss";
@import "render-dds/styles";

@source "../node_modules/render-dds/dist";

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-inter), Inter, -apple-system, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto), Roboto, -apple-system, sans-serif;
  font-weight: 300;
}
